html {
    box-sizing: border-box;
  }
  
  *,*::before, *::after {
    box-sizing: inherit;
  }
  .container{width: 1200px;
margin: auto;}
  
  .header {
    /* background-color: red; */
    /* height: 748px; */
    margin: auto;
  }
  
  .wrapper {
    padding: 80px;
    align-items: center;
    text-align: center;
    /* background-color: rgb(89, 0, 255); */
    /* margin-bottom: 70px; */
  }
  
  .intro-title {
    margin: auto;
    max-width: 952px;
    /* height: 58px; */
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    /* line-height: 58px; */
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #212121;
    /* margin-bottom: 16px; */
    padding: 0px;
    flex-direction: column;
  }
  
  .intro-subtitle {
    margin: 16px auto;
    max-width: 839px;
    /* height: 56px; */
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #757575;
    /* margin-bottom: 80px; */
  }
  
  .wrapper_ac {
   
/* height: 388px; */
   
display: flex;
   
align-items: center;
   
/* background-color: aquamarine; */
   
flex-direction: column;
  }
  
  .accordion {
    display: flex;
    font-family: 'Inter', sans-serif;
    max-width: 843px;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #000000;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    /* margin: auto; */
    /* overflow: hidden; */
  }
  
  .active, .accordion:hover {
    background-color: rgb(255, 255, 255);
  }
  
  .panel {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #757575;
    text-align: center;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: visible;
  }
  
  img {
    border: none;
    /* margin-left: 813px; */
    /* margin-right: 28px; */
  }
  
  .footer {
    width: 100%;
    /* margin: auto; */
    /* height: 604px; */
    background: #3563E9;
  }
  
  .wrapper1 {
    margin: auto;
    /* height: 404px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* gap: 47px; */
    /* background: #35e94d; */
    /* margin: 100px 120px; */
  }
  
  .footer-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 15px;
    /* gap: 56px; */
    width: 198px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 6px 0px 0px 6px;
  }
  
  .footer-links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 61px;
    width: 1078px;
    height: 256px;
    justify-content: space-between;
    padding-left: 90px;
    padding-top: 134px;
    padding-right: 61px;
    margin: 100px 120px;
    /* background-color: rgb(175, 106, 16); */
  }
  
  .footer-link {
    display: flex;
    flex-direction: column;
  }
  
  .footer-link p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .footer-link a {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.7;
    text-decoration: none;
    margin-bottom: 13px;
  }
  
  .cnttext {
    max-width: 338px;
    height: 256px;
    background: #2851E3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 48px 30px 42px;
  }
  
  .cnttext P {
    /* margin-bottom: 0px; */
    margin: 0px;
    margin-bottom: 18px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .info {
    font-family: 'Inter', sans-serif;
    width: 254px;
    height: 82px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.7;
  }
  
  .wrapper_logo {
   
/* height: 53px; */
   
display: flex;
   
flex-direction: row;
   
align-items: center;
   
align-content: center;
   
justify-content: center;
  }
  
  .conteiner_logo {
    width: 135px;
    /* height: 35px; */
    /* background-color: yellow; */
    display: inline-block;
  }
  
  .divider {
    /* height: 1px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 403px 120px 200px; */
    /* background: #FFFFFF; */
    /* opacity: 0.06; */
    border-top: 1px solid #FFFFFF;
  }
  
  .group {
    
display: flex;
    
flex-direction: row;
    
margin: auto;
    
/* margin-left: 120px; */
    
/* height: 53px; */
    
/* background-color: #757575; */
    
align-content: center;
    
justify-content: space-between;
    
padding: 22.5px 0px;
    
align-items: center;
  }
  
  .group_elements {
    display: flex;
    /* width: 219px; */
    /* height: 17px; */
    /* margin-left: 469px; */
    justify-content: space-between;
    flex-direction: row;
  }
  
  .element-link a {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 0.7;
    text-decoration: none;
  }
  
  span.footer-search_button:before {
    content: "";
    position: absolute;
    background: url(../css/sq.svg);
    width: 50px;
    height: 50px;
  }
  
  span.footer-search_button {
    background: #3563E9;
    border-radius: 0px 6px 6px 0px;
    width: 50px;
    height: 50px;
  }
  p.subscribe {
    display: flex;
    margin: 0px;
    margin-bottom: 18px;
  }

  .element-link {
    display: flex;
    justify-content: space-between;
}